<div class='container px-5 px-sm-0'>
  <div class='row'>

    <div class='col-md-3'>
      <!--マイプロフィール-->
      <h2>プロフィール部分テンプレート</h2>
      <%= render 'public/users/info', user: current_user %>
      <!--投稿フォーム-->
      <%= render 'public/outfits/form', outfit: @outfit %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>キーワード検索結果</h2>

      <table class="table table-hover table-inverse">
        <!--検索対象モデルがUserの時 -->
        <% if @range == "ニックネーム" %>
          <tbody>
              <tr>
                <th></th>
                <th>ニックネーム</th>
                <th>自己紹介</th>
                <th>身長</th>
              </tr>
            <% @users.each do |user| %>
              <tr>
                <td><%= image_tag user.get_profile_image(100,100) %></td>
                <td><%= link_to user.nickname, user_path(user.id) %></td>
                <td><%= user.introduction %></td>
                <td><%= user.height %></td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
          <tbody>
            <tr>
              <th></th>
              <th>タイトル</th>
              <th>本文</th>
              <th>投稿者</th>
            </tr>
            <% @outfits.each do |outfit| %>
            <tr>
              <td><%= image_tag outfit.image,  size: "200x200" %></td>
              <td><%=link_to outfit.title, outfit_path(outfit.id) %></td>
              <td><%= outfit.body %></td>
              <td><%= link_to outfit.user.nickname, user_path(outfit.user.id) %></td>
            </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>