  <!--タグ検索フォーム-->
  <%= form_tag outfits_path, method: :get, class: 'boards_searchForm' do %>
    <span>タグ検索　　　：</span>
    <%= select_tag :tag_id,options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),{prompt: '全てを表示',onchange: 'submit(this.form);'}%>
  <% end %>
  <!--キーワード検索フォーム-->
<%= render "public/searches/search" %>

  <!--並び替え-->
  <%= link_to '新しい順', outfits_path(latest: 'true', tag_id: @tag_id) %>
  |<%= link_to '古い順', outfits_path(old: 'true', tag_id: @tag_id) %>

  <!-- ユーザーの投稿一覧 -->
  <div class="row mb-3">

    <% outfits.each do |outfit| %>
      <div class="col-4 mt-3 px-md-1 px-0 border">
        <div class="card image_container">
          <%= link_to outfit_path(outfit.id) do %>
            <%= image_tag outfit.image, class: 'index-outfit-image', style: 'width:100%; aspect-ratio:1/1; object-fit:cover;' %>

            <%= render "public/favorites/favorite", outfit: outfit %>
          <% end %>
        </div>

        <div class="card-body d-none d-sm-block">
          <p class="card-text" style="margin-bottom: <%= outfit.tags.size > 0 ? '0' : '40px' %>"><%= outfit.body.truncate(8) %></p>
          <% if outfit.tags.size > 0 %>
            <p class="card-text">
              <span style="font-size: 0.7em; background-color: #e1e1e1; color: #333;border-radius: 3px;padding: 2px 3px;"><%= outfit.tags[0].name.truncate(8) %></span> ...
              <span style="font-size: 11px; padding: 3px;"><%= outfit.tags.size %>tags</span>
            </p>
          <% end %>
          <p class="card-text", style="font-size: 12px;">
            <%= link_to outfit.user.nickname.truncate(10), user_path(outfit.user.id) %>
            （身長
              <% if outfit.user.height == nil %>
                ？㎝）
              <% else %>
                <%= outfit.user.height %>㎝）
              <% end %>
          </p>
        </div>

        <div class="card-footer d-none d-sm-block">
          <div>
            <%= outfit.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </div>
          <%= link_to outfit_path(outfit.id), class: "text-dark text-decoration-none" do %>
            <i class="far fa-comment"></i>
            <%= outfit.outfit_comments.count %>
          <% end %>
          <span id="favorite_buttons_<%= outfit.id %>">
            <%= render "public/favorites/favorite", outfit: outfit %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate outfits %>


