
<!--マイプロフィール-->
<h2>プロフィール部分テンプレート</h2>
<%= render 'public/users/info', user: current_user %>

<!--タグ検索フォーム-->
<%= form_tag outfits_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :tag_id,options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),{prompt: 'タグで絞り込み検索',onchange: 'submit(this.form);'}%>
<% end %>


<h2>投稿一覧ページ</h2>

<!--検索フォーム-->
<%= render "public/searches/search" %>


<% @outfits.each do |outfit| %>
  <p>
    <%= image_tag outfit.image, size: "200x200" %>
  </p>
  <p>
    タイトル：<%=link_to outfit.title, outfit_path(outfit.id) %>
  </p>
  <p>
    本文：<%= outfit.body %>
  </p>
  <p>タグ：</p>
    <% outfit.tags.each do |tag| %>
      <span><%= tag.name %></span>
    <% end %>
  <p>
    投稿者：<%= link_to outfit.user.nickname, user_path(outfit.user.id) %>
  </p>
  <!--いいねボタン-->
  <div id="favorite_buttons_<%= outfit.id %>">
    <%= render "public/favorites/favorite", outfit: outfit %>
  </div>

<% end %>

<!--投稿フォーム-->
<%= render 'public/outfits/form', outfit: @outfit %>