<h1>投稿詳細ページ</h1>

<h2>画像</h2>
<p><%= image_tag @outfit.image %></p>

<h2>タイトル</h2>
<p><%= @outfit.title %></p>

<h2>本文</h2>
<p><%= @outfit.body %></p>

<h2>投稿者</h2>
<p><%= link_to @outfit.user.nickname, user_path(@outfit.user.id) %></p>


<!--コメント投稿フォーム-->
<%= form_with model: [@outfit,@outfit_comment], url: outfit_outfit_comments_path(@outfit), method: :post do |comment| %>
<%= comment.text_area :comment, placeholder: "コメントをここに" %>
<%= comment.submit "送信" %>
<% end %>

<table>
  <tbody>
    <% @outfit_comments.each do |outfit_comment| %>
    <tr>

      <td><%= outfit_comment.user.nickname %></td>
      <td><%= outfit_comment.comment %></td>
      <td>
        <% if outfit_comment.user == current_user %>
        <%= link_to "削除", outfit_outfit_comment_path(@outfit,outfit_comment), method: :delete, class: "btn btn-sm btn-danger p-0 p-1", style: "font-size: 8px;" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div>
  <p>コメント件数：<%= @outfit.outfit_comment.count %></p>
</div>


