<div class='container px-5 px-sm-0 mx-auto'>
  <div class='row'>
    <div class='col'>

      <!-- ユーザー一覧 -->
      <h4 class="mt-5"><strong>会員一覧</strong></h4>
      <table class="table shadow-lg mt-4">
        <thead>
          <tr>
            <th>アイコン</th>
            <th style="width: 120px">ニックネーム</th>
            <th>自己紹介</th>
            <th>身長(㎝)</th>
            <th style="width: 150px">会員ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100,100) %></td>
              <td><%= link_to user.nickname, admin_user_path(user.id) %></td>
              <td><%= user.introduction %></td>
              <td><%= user.height %></td>
              <td>
                <% if user.is_deleted == true %>
                  <p class="text-secondary font-weight-bold">退会済</p>
                <% else %>
                  <p class='text-success font-weight-bold'>有効</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>

      <%= paginate @users %>

    </div>
  </div>
</div>