<div class='container m-5 px-sm-0 mx-auto'>
  <div class='row'>
    <div class='col-md-4 border rounded p-3 mb-3 bg-white'>

      <p><strong>プロフィール</strong></p>
      <%= image_tag @user.get_profile_image(100,100) %>

      <p>
        <strong><%= @user.nickname %></strong>
        （身長
        <% if @user.height == nil %>
          ○○㎝）
        <% else %>
          <%= @user.height %>㎝）
        <% end %>
      </p>
      <%= @user.introduction %>
      <div>
        <strong>会員ステータス</strong>
        <% if @user.is_deleted == true %>
          <p class="text-secondary font-weight-bold">退会済</p>
        <% else %>
          <p class='text-success font-weight-bold'>有効</p>
        <% end %>
        <%= link_to 'プロフィール編集', edit_admin_user_path(@user.id), class: "btn btn-outline-secondary mt-3" %>
      </div>
    </div>

    <!-- ユーザーの投稿一覧 -->
    <div class="col-md-8">
      <table class="table border bg-white">

        <thead>
          <tr>
            <th>コーディネート</th>
            <th>一言コメント</th>
          </tr>
        </thead>

        <tbody>
          <% @outfits.each do |outfit| %>
          <tr>
            <td>
              <%= link_to admin_outfit_path(outfit.id) do %>
                <%= image_tag outfit.image, size: "50x50" %>
              <% end %>
            </td>
            <td><%= outfit.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
