<h1>管理者側の服装詳細ページ</h1>

<p><%= image_tag @outfit.image %></p>

<h4>タイトル</h4>
<p><%= @outfit.title %></p>

<h4>本文</h4>
<p><%= @outfit.body %></p>

<h4>投稿者</h4>
<p><%= link_to @outfit.user.nickname, admin_user_path(@outfit.user.id) %></p>

<%= link_to "投稿を削除する", admin_outfit_path(@outfit), method: :delete, class: "btn btn-sm btn-danger p-0 p-1", style: "font-size: 8px;" %>

<!--コメント一覧の部分テンプレート-->
<div id="comments-area">
  <%= render "admin/outfit_comments/index", outfit: @outfit, outfit_comments: @outfit_comments %>
</div>

<div>
  <p>コメント件数：<%= @outfit.outfit_comments.count %></p>
</div>
