<div class='container m-5 px-md-5 px-sm-0 mx-auto'>
  <div class='row'>
    <table class="table bg-white">
      <tr>
        <th class="table-active">コーディネート</th>
        <td>
          <%= image_tag @outfit.image, class:"outfit-image", style: "border-radius: 20px;" %>
        </td>
      </tr>

      <tr>
        <th class="table-active">一言コメント</th>
        <td>
          <p><%= @outfit.body %></p>
          <%= link_to "投稿を削除する", admin_outfit_path(@outfit), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger p-0 p-1", style: "font-size: 8px;" %>
        </td>
      </tr>

      <tr>
        <th class="table-active">タグ</th>
        <td>
          <% @outfit.tags.each do |tag| %>
            <span><%= tag.name %></span>
          <% end %>
        </td>
      </tr>

      <tr>
        <th class="table-active">投稿者</th>
        <td><%= link_to @outfit.user.nickname, admin_user_path(@outfit.user.id) %></td>
      </tr>

      <tr>
        <th class="table-active">投稿日</th>
        <td><%= @outfit.created_at.strftime('%Y/%m/%d') %></td>
      </tr>

      <!--コメント一覧の部分テンプレート-->
      <tr>
        <th class="table-active">コメント一覧</th>
        <td id="comments-area">
          <%= render "admin/outfit_comments/index", outfit: @outfit, outfit_comments: @outfit_comments %>
        </td>
      </tr>

    </table>
  </div>
</div>

