<h1>会員の詳細ページ</h1>

<!-- ユーザーの詳細 -->
<% if @user.is_deleted %>
  <p>こちらのユーザーは退会しています</p>
<% else %>
  <div>
    <h3><%= @user.nickname %></h3>
    <%= image_tag @user.get_profile_image(100,100) %>
    <p>自己紹介：<%= @user.introduction %></p>
    <p>身長(㎝)：<%= @user.height %></p>

    <p>フォロー数: <%= @user.followings.count %></p>
    <p>フォロワー数: <%= @user.followers.count %></p>

    <!--フォローボタン-->
    <% if current_user.following?(@user) %>
      <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
    <% end %>

    <!--プロフィール編集ボタン-->
    <% if @user.id == current_user.id && @user.nickname != "guestuser" %>
      <%=link_to 'プロフィール編集', edit_user_path(@user.id), class: "btn btn-outline-secondary" %>
    <% else %>
      <div>
        このユーザーではないのでプロフィール編集ボタン非表示
      </div>
    <% end %>

  </div>
<% end %>

<!-- ユーザーの投稿一覧 -->

<% @outfits.each do |outfit| %>
  <div>
    <%= link_to outfit_path(outfit.id) do %>
      <%= image_tag outfit.image %>
    <% end %>
    <p>説明：<%= outfit.body %></p>
  </div>
<% end %>