<h1>会員の詳細ページ</h1>

<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.nickname %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user.id == current_user.id && @user.nickname != "guestuser" %>
    <%=link_to 'プロフィール編集', edit_user_path(@user.id), class: "btn btn-outline-secondary" %>
  <% else %>
    <div>
      このユーザーではないのでプロフィール編集ボタン非表示
    </div>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @outfits.each do |outfit| %>
  <div>
    <%= link_to outfit_path(outfit.id) do %>
      <%= image_tag outfit.image %>
    <% end %>
    <p>説明：<%= outfit.body %></p>
  </div>
<% end %>