<!DOCTYPE html>
<html>
  <head>
    <title>minimums_code</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <!--会員サインイン-->
      <% if user_signed_in? %>

        <!--検索フォーム-->
        <%= render "public/searches/search" %>

        <li>
          <%= link_to "Aboutページ", about_path %>
        </li>
        <li>
          <%= link_to "マイページ(URLの記述はまだ)" %>
        </li>
        <li>
          <%= link_to "投稿一覧ページ", outfits_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>

      <!--管理者サインイン-->
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to "服装一覧ページ", admin_outfits_path %>
        </li>
        <li>
          <%= link_to "会員一覧ページ", admin_users_path %>
        </li>
        <li>
          <%= link_to "コメント一覧ページ", admin_comments_path %>
        </li>

        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>



      <!--ログアウト-->
      <% else%>
        <li>
          <%= link_to "TOPページ", root_path %>
        </li>
        <li>
          <%= link_to "Aboutページ", about_path %>
        </li>
        <li>
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </header>
    <!--ログインしてくださいのエラーを出す-->
    <%= alert %>
    <!--ログインしましたの表示を出す-->
    <%= notice %>
    <%= yield %>
  </body>
</html>
