<!DOCTYPE html>
<html>
  <head>
    <title>minimums_code</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">

          <!--ロゴ-->
          <a class="navbar-brand text-left">
            <span>
              <%= link_to (image_tag "logo.png",size: "80x40"), root_path %>
            </span>
          </a>

          <!--ハンバーガーメニュー-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!--ヘッダーのメニュー表示-->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <!--会員サインイン-->
              <% if user_signed_in? %>

                <li class="nav-item">
                  <%= link_to "TOPページ", root_path, class: "btn btn-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Aboutページ", about_path, class: "btn btn-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", user_path(current_user), class: "btn btn-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧ページ", outfits_path, class: "btn btn-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-dark" %>
                </li>

              <!--管理者サインイン-->
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "服装一覧ページ", admin_outfits_path, class: "btn btn-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧ページ", admin_users_path, class: "btn btn-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "コメント一覧ページ", admin_comments_path, class: "btn btn-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-dark" %>
                </li>



              <!--ログアウト-->
              <% else%>
                <li class="nav-item">
                    <%= link_to "TOPページ", root_path, class: "btn btn-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Aboutページ", about_path, class: "btn btn-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-dark", method: :post %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "btn btn-dark" %>
                </li>
              <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <!--ログインしてくださいのエラーを出す-->
      <%= alert %>
      <!--ログインしましたの表示を出す-->
      <%= notice %>
      <%= yield %>
    </main>


    <footer class="bg-dark fixed-bottom">
      <div class='container'>
  	    <div class='row'>
    	    <div class='mx-auto text-light'>
    		    <p>minimums_code</p>
    	    </div>
        </div>
      </div>
    </footer>

  </body>
</html>
